<!-- Bookmark and Title -->
<ion-grid>
  <ion-row class="ion-padding-horizontal">
    <ion-col size="10">
      <ion-card-title>{{ comic_name }}</ion-card-title>
    </ion-col>
    <ion-col size="2">
      <ion-icon
        *ngIf="!favorited"
        name="bookmark-outline"
        style="font-size: 40px"
        color="tertiary"
      ></ion-icon>
      <ion-icon
        *ngIf="favorited"
        name="bookmark"
        style="font-size: 40px"
        color="tertiary"
      ></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- Poster -->
<ion-grid>
  <ion-row class="ion-padding-horizontal">
    <ion-col size="12">
      <ion-img src="{{ comic_url_poster }}"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <!-- Comic Detail Section -->
  <ion-card>
    <ion-row style="display: flex; align-items: center">
      <!-- Rating -->
      <ion-col size="7" style="display: flex; justify-content: center">
        <div *ngFor="let star of stars">
          <ion-icon
            *ngIf="comic_avg_rating >= star"
            name="star"
            style="font-size: 26px; padding: 0px 3px"
            color="warning"
          ></ion-icon>
          <ion-icon
            *ngIf="comic_avg_rating < star"
            name="star-outline"
            style="font-size: 26px; padding: 0px 3px"
            color="warning"
          ></ion-icon>
        </div>
      </ion-col>
      <ion-col size="5" class="ion-padding-start">
        <h4 style="padding: 10px 0px 0px 0px; margin: 0">
          {{ comic_avg_rating }} / 5
        </h4>
        <h4 style="padding: 5px 0px 10px 0px; margin: 0">
          of {{ comic_total_favorite }} vote
        </h4>
      </ion-col>
    </ion-row>
    <hr />
    <!-- Comic Details -->
    <ion-row>
      <!-- Rating -->
      <ion-col size="12" style="padding: 0; margin: 0">
        <ion-card-header style="padding-bottom: 10px">
          <h6 style="color: white; margin: 0; padding: 0">Rating</h6>
        </ion-card-header>
        <ion-card-content style="padding-bottom: 10px">
          {{ comic_avg_rating }} / 5 of {{ comic_total_favorite }} vote
        </ion-card-content>
      </ion-col>
      <!-- Author -->
      <ion-col size="12" style="padding: 0; margin: 0">
        <ion-card-header style="padding-bottom: 10px; padding-top: 0px">
          <h6 style="color: white; margin: 0; padding: 0">Author</h6>
        </ion-card-header>
        <ion-card-content>
          {{ comic_author }}
        </ion-card-content>
      </ion-col>
      <!-- View -->
      <ion-col size="12" style="padding: 0; margin: 0">
        <ion-card-header style="padding-bottom: 10px; padding-top: 0px">
          <h6 style="color: white; margin: 0; padding: 0">Total View</h6>
        </ion-card-header>
        <ion-card-content>
          {{ comic_total_view }}
        </ion-card-content>
      </ion-col>
      <!-- Status -->
      <ion-col size="12" style="padding: 0; margin: 0">
        <ion-card-header style="padding-bottom: 10px; padding-top: 0px">
          <h6 style="color: white; margin: 0; padding: 0">Status</h6>
        </ion-card-header>
        <ion-card-content>
          {{ comic_status }}
        </ion-card-content>
      </ion-col>
      <!-- Status -->
      <ion-col size="12" style="padding: 0; margin: 0">
        <ion-card-header style="padding-bottom: 10px; padding-top: 0px">
          <h6 style="color: white; margin: 0; padding: 0">Genre</h6>
        </ion-card-header>
        <ion-card-content>
          <!-- List Genre -->
          <ion-grid style="padding: 0; margin: 0" *ngIf="comic_genres">
            <ion-row style="margin: 0">
              <ion-col
                size="4"
                style="padding: 0px 10px 0px 0px; margin: 0"
                *ngFor="let genre of comic_genres"
              >
                <ion-button
                  fill="outline"
                  color="tertiary"
                  style="padding: 5px 0px; width: 100%"
                  >{{ genre.name }}</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        <!-- Comment and Favorite -->
        <ion-grid style="padding: 0; margin: 0">
          <ion-row class="ion-padding-vertical">
            <!-- Comment -->
            <ion-col
              size="6"
              style="
                padding: 3px 0px 0px 0px;
                margin: 0;
                text-align: center;
                border-right: solid rgba(255, 255, 255, 0.13) 1px;
              "
            >
              <ion-icon
                name="chatbox"
                color="tertiary"
                style="font-size: 30px"
              ></ion-icon>
              <h6 style="color: #fefefe">{{ comic_total_comment }} Comments</h6>
            </ion-col>
            <!-- Favorite -->
            <ion-col
              size="6"
              style="padding: 3px 0px 0px 0px; margin: 0; text-align: center"
            >
              <ion-icon
                name="heart"
                color="tertiary"
                style="font-size: 30px"
              ></ion-icon>
              <h6 style="color: #fefefe">
                {{ comic_total_favorite }} Favorites
              </h6>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-vertical ion-margin-bottom">
            <!-- First Chapter -->
            <ion-col
              size="6"
              class="ion-padding-end"
              style="margin: 0; text-align: right"
            >
              <ion-button
                color="tertiary"
                routerLink="/comic/{{ comic_id }}/chapter/{{
                  first_chapter_id
                }}"
                >Read First</ion-button
              >
            </ion-col>
            <!-- Last Chapter -->
            <ion-col
              size="6"
              class="ion-padding-start"
              style="margin: 0; text-align: left"
            >
              <ion-button
                color="tertiary"
                routerLink="/comic/{{ comic_id }}/chapter/{{ last_chapter_id }}"
                >Read Last</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- Details -->
  <ion-card>
    <!-- Summary -->
    <h5 class="ion-padding-start ion-padding-top" style="color: white">
      Summary
    </h5>
    <ion-card-content>
      {{ comic_summary }}
    </ion-card-content>
    <!-- List Chapter -->
    <h5 class="ion-padding-start" style="color: white">
      Latest Chapter Release
    </h5>
    <ion-grid class="ion-padding-horizontal ion-padding-bottom">
      <ion-row *ngFor="let chapter of comic_chapters">
        <ion-col>
          <a
            style="color: #6a64ff; text-decoration: none"
            routerLink="/comic/{{ comic_id }}/chapter/{{ chapter.id }}"
          >
            Chapter {{ chapter.number }}
          </a>
        </ion-col>
        <ion-col style="text-align: center"
          >{{ chapter.total_view }} views</ion-col
        >
        <ion-col style="text-align: center">{{ chapter.release_date }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- User Section -->
  <ion-card>
    <!-- Rating -->
    <h5 class="ion-padding-start ion-padding-top" style="color: white">
      Rating
    </h5>
    <ion-card-content style="padding-top: 0; padding-bottom: 0">
      Give your rating here
    </ion-card-content>
    <!-- Rating Input -->
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col size="12" style="display: flex; justify-content: center">
          <div *ngFor="let star of stars">
            <ion-icon
              (click)="addRating(star)"
              *ngIf="rating_given >= star"
              name="star"
              style="font-size: 34px; padding: 0px 8px"
              color="warning"
            ></ion-icon>
            <ion-icon
              (click)="addRating(star)"
              *ngIf="rating_given < star"
              name="star-outline"
              style="font-size: 34px; padding: 0px 8px"
              color="warning"
            ></ion-icon>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-top" style="display: flex; justify-content: flex-end">
          <a class="ion-margin-end" style="color: #6a64ff; text-decoration: none" routerLink="">
            Reset rating
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Comments -->
    <h5 class="ion-padding-start" style="color: white; margin-bottom: 0">
      Comments
    </h5>
    <ion-grid>
      <ion-row>
        <ion-col size="12" style="padding: 0">
          <ion-textarea
            style="padding-left: 0; padding-bottom: 0; color: white;"
            class="ion-padding-start"
            rows="1"
            placeholder="Enter your comment here..."
          ></ion-textarea>
        </ion-col>
        <ion-col size="12" style="padding: 0; text-align: right">
          <ion-button
            class="ion-margin-end ion-margin-bottom"
            color="tertiary"
            style="padding: 5px 0px; display: absolute; top: 0; right: 20px"
            >Comment</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- List Comments -->
  </ion-card>
</ion-grid>
